
h1 {
  font-family: Sansita, sans-serif;
  font-size: 50px;
  padding: 0;
  margin: 0;
}

h4 {
  font-family: Sansita, sans-serif;
  margin-bottom: 0;
  font-style: bold;
}

ul,
ol {
  margin-top: 0;
}

body {
  padding: 0;
  margin: 0;
}

#nav {
  width: 100%;
  height: 2rem;
  background-color: #ccc;
  padding: 8px;
  display: block;
  font-family: Poppins, bold;
}

#nav a {
  font-size: 120%;
  text-decoration: none;
  padding-right: 1rem;
}

div#SteakBanner {
  background-image: url(https://images.unsplash.com/photo-1588964895597-cfccd6e2dbf9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  position: relative;
  top: 0;
  left 0;
  width: 100%;
  height: 75vh;
  background-size: cover;
  background-attachment: fixed;
}

#SteakBanner h1 {
  text-align: center;
  padding: 150px;
  text-shadow: 2px 2px 4px #000000;
  margin: 0;
  color: white;
  font-family: Poppins;
  font-size: 500%;
}

#SteakBanner h1.tp {
  font-size: 250%;
}
#SteakBanner h1.black {
  color: black;
  text-shadow: 2px 2px 4px #fff;
}

#SteakBanner h4 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-size: 3rem;
  text-shadow: 2px 2px 4px #000000;
}


#recipeColumns {
  padding: 2vh;
  display: flex;
  justify-content: space-between;
  background-color: #ebe4d8;
  padding-bottom: 6vh;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.7);
}

#recipeColumns div#ingredients { flex-basis: 28%; }
#recipeColumns div#equipment { flex-basis: 20%; }
#recipeColumns div#directions { flex-basis: 50%; }


#footer,
#footer a {
  text-align: center;
  color: #ebe4d8;
}

li {
  font-family: Poppins;
}

@media (orientation: landscape) {
  #recipeColumns {
    display: flex;
    width: 98%;
    flex-wrap: wrap;
    flex-direction: row;
    float: left;
  }
}
@media screen and (orientation: portrait) and (max-width: 575px) {
  div#SteakBanner {
    height: 25vh;
    position: center;
  }
}